{% extends 'base.html' %}

{% block title %}
    Рекруты и их ответы
{% endblock %}

{% block content %}
    <div class="row ml-auto mr-auto mt-2">
        <div class="col-md-4 ">
            Ситх: <strong>{{ sith.name }}</strong>
            <ul class="list-group">
                {% for dark_hand in dark_hands %}
                    <li class="list-group-item ">
                        <h5>{{ dark_hand.recruiter.name }}</h5>
                        <h6>{{ recruiter.recruiter.email }}</h6>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 ">
            {% if recruiters %}
                <ul class="list-group">
                    {% for recruiter in recruiters %}
                        <li class="list-group-item ">
                            <div class="float-left">
                                <h5>{{ recruiter.name }}</h5>
                                <h6>{{ recruiter.email }}</h6>
                            </div>
                            <a  href="{% url 'user_answers' recruiter.id %}"
                                class="btn btn-primary text-white float-right">Посмотреть ответы</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Нет доступных рекрутов</p>
            {% endif %}
        </div>
    </div>
{% endblock %}